persistentState = "{{ env "XDG_STATE_HOME" }}/chezmoistate.boltdb"
encryption = "age"

[data]
name = "Leonardo Prado"

{{- if eq .chezmoi.hostname "mika" }}
email = "leonardoprado@gmail.com"
isPersonal = true
isWork = false
{{ else }}
email = "leoprado@paypal.com"
isPersonal = false
isWork = true
{{ end -}}

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1fmxqh5nlalcskfqhz0pc8z4lekc90n40vyw24f5mcx2p3zyw6ayqkydtq7"
